/* Write your CSS here */
.bg-cont {
  background-color: #000000;
  height: 150vh;
}
.logo-img {
  width: 100%;
}
.head-action {
  color: white;
  font-size: 25px;
  font-family: 'Roboto';
  padding: 30px;
}
.slide {
  width: 95%;
  padding-left: 40px;
}
